/*  
	F5lab - Base flat theme (without colors)
  Override default refinery application CSS below.
  Formatting applies to all frontend.  
													
	( light_blue RefineryCMS => #22A7F2 )
*/
             
/* GENERAL FRONTEND LAYOUT */  

/* Fonts */
@font-face {
    font-family: "Waukegan";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/waukegan-ldo/Waukegan LDO.ttf") format("truetype");
}  
@font-face {
    font-family: "Waukegan Bold";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/waukegan-ldo/Waukegan LDO Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Waukegan Extended";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/waukegan-ldo/Waukegan LDO Extended.ttf") format("truetype");
}

/*** GENERAL ***/  
body {
	font-family: "Waukegan", "arial", sans-serif;   
	color: #333;
	background: #fff;
}         
header {
	position: relative;
}             
#body_content {
	font-family: verdana;   
	font-size: 12px;
}  
#body_content h1 {
	font-size: 20px;
}
#body_content h1, #body_content h2, #body_content h3 {
	font-family: "Waukegan", "arial", sans-serif;    
}
#body_content.no_body_content_title {
	margin-top: 20px;
}     
#body_content_right {
	margin-left: 50px;
  width: 350px;
}
.clear { clear: both; }
a { color: #22A7F2;}   
a:hover { color: #22A7F2;}
a:visited { color: #22A7F2;} 
      
/*** THEME SWITCHER ***/
#theme_switcher {
	list-style: none;
	margin: 0;
	padding: 0; 
}
#theme_switcher li {
	float: left;
}
/*** LOGO ***/ 
#logo {
	font-size: 60px;   
	font-family: "Waukegan Extended";
	font-weight: normal;  
	margin: 20px 0 16px 0;  
}     
#logo a {
	text-decoration: none;
	color: #333;  
	background: transparent url(/images/vortex.png) no-repeat 6px 6px;   
	padding: 6px 0 0 80px; 
}    
#logo .site_description {
	font-size: 18px;  
	margin-left: 10px;
}         

/*** NAVIGATION MENU' ***/
nav#menu {
	float: left;   
}
nav#menu li {  
	font-size: 18px; 
	padding: 5px 10px;
	margin: 0;                
}     

/*** SEARCH BOX ***/
#search_box {
	position: absolute;
	bottom: 0;
	right: 10px; 
	padding: 5px 0;
}   
#search_box #query {
	/*-webkit-appearance: none;*/
}

/*** LOCALE BOX ***/
#locale_box {  
	position: absolute;
	top: 0;
	right: 0; 
	padding: 5px 0;
}
#locale_box ul#locales {
	list-style: none;  
	padding: 0;
	margin: 0;
}       
#locale_box ul#locales li {
	float: left;    
	margin: 2px 5px 0 5px; 
}  
#locale_box ul#locales li img {
	margin-right: 4px;
}    
      
/*** FOOTER ***/   
footer {
	margin-bottom: 20px;
	margin-top: 20px;
	padding-top: 20px;
	border-top: solid 1px;
}
footer div {
	display: inline-block;
}      
footer div.right {
	float: right;
}       

/*** BLOG ***/
.blog_post header h1 a, #blog_post header h1 {     
	text-decoration: none;
	color: #f36;  
} 
.blog_post footer, #blog_post footer {  
	border: none;
	margin: 0;
	padding: 0;
}    
aside#comments {
	font-family: verdana;   
	font-size: 12px;
}
form.new_blog_comment .field {
	margin-bottom: 10px;
}
form.new_blog_comment .field label {
	width: 75px;      
	display: inline-block;
} 

/*** PORTFOLIO ***/
#portfolio_items {
	list-style: none;   
	padding: 0;
}         
#portfolio_items li {  
	width: 300px;   
	height: 236px;
	text-align: center; 
	margin-right: 42px; 
	margin-bottom: 30px;;   
	float: left;    
}      
#portfolio_items li.third_column {   
	margin-right: 0;
}
	 
aside  #portfolio_items li {  
	width: 150px;   
	height: 125px;  
	margin-right: 18px;
}
#portfolio_items li a { 
	text-decoration: none;  
	font-size: 12px; 
} 
#portfolio_items li a p {   
	margin-top: 6px;
	margin-bottom: 6px;
} 