/*  
	F5lab - Base flat theme (without colors)
  Override default refinery application CSS below.
  Formatting applies to all frontend.  
													
	( light_blue RefineryCMS => #22A7F2 )
*/
             
/* GENERAL FRONTEND LAYOUT */  

/* Fonts */
@font-face {
    font-family: "Waukegan";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/waukegan-ldo/Waukegan LDO.ttf") format("truetype");
}  
@font-face {
    font-family: "Waukegan Bold";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/waukegan-ldo/Waukegan LDO Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Waukegan Extended";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/waukegan-ldo/Waukegan LDO Extended.ttf") format("truetype");
}

/*** GENERAL ***/  
body {
	font-family: "Waukegan", "arial", sans-serif;   
	color: #333;
	background: #fff;
}            
header {
	position: relative;
}
.clear { clear: both; }
a { color: #22A7F2;}   
a:hover { color: #22A7F2;}
a:visited { color: #22A7F2;} 
      
/*** THEME SWITCHER ***/
#theme_switcher {
	list-style: none;
	margin: 0;
	padding: 0; 
}
#theme_switcher li {
	float: left;
}
/*** LOGO ***/ 
#logo {
	font-size: 60px;   
	font-family: "Waukegan Extended";
	font-weight: normal;  
	margin: 20px 0 16px 0;  
}     
#logo a {
	text-decoration: none;
	color: #333;  
	background: transparent url(/images/vortex.png) no-repeat 6px 6px;   
	padding: 6px 0 0 80px; 
}    
#logo .site_description {
	font-size: 18px;  
	margin-left: 10px;
}         

/*** NAVIGATION MENU' ***/
nav#menu {
	float: left;   
}
nav#menu li {  
	font-size: 18px; 
	padding: 5px 10px;
	margin: 0;                
}     

/*** SEARCH BOX ***/
#search_box {
	position: absolute;
	bottom: 0;
	right: 0; 
	padding: 5px 0;
} 

/*** LOCALE BOX ***/
#locale_box {  
	position: absolute;
	top: 0;
	right: 0; 
	padding: 5px 0;
}
#locale_box ul#locales {
	list-style: none;  
	padding: 0;
	margin: 0;
}       
#locale_box ul#locales li {
	float: left;    
	margin: 2px 5px 0 5px; 
}  
#locale_box ul#locales li img {
	margin-right: 4px;
}    
      
/*** FOOTER ***/   
footer {
	margin-bottom: 20px;
	margin-top: 20px;
	padding-top: 20px;
	border-top: solid 1px;
}
footer div {
	display: inline-block;
}      
footer div.right {
	float: right;
}       

/*** BLOG POST ***/
.blog_post header h1 a, #blog_post header h1 {
	font-size: 18px;    
	margin: 20px 0 10px 0;  
}