/*  
	F5lab - Light theme
  Override default refinery application CSS below.
  Formatting applies to all frontend.  
                              
	Theme's Colors:
	- acid_green => #9f0
	- acid_lime => #cf0
	- fucsia => #f36
	- orange => #f60
	- acid_yellow => #ff3
	- light_red => #f30  
	- black => #111 
	- white => #fff
													
	( light_blue RefineryCMS => #22A7F2 )
*/
             
/* GENERAL FRONTEND LAYOUT */  

/* Fonts */

/*** GENERAL ***/  

a { color: #9f0;}   
a:hover { color: #9f0;}
a:visited { color: #9f0;} 
   
/*** LOGO ***/ 
    
#logo a {   
	color: #333;  
	background: transparent url(/images/vortex_bg.png) no-repeat 0 6px;   
	padding: 6px 6px 0 80px;  
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#logo a:hover {  
	color: #9f0;  
	background: transparent url(/images/vortex_bg.png) no-repeat 0 -50px;
}         

/*** NAVIGATION MENU' ***/
nav#menu {       
	background: #9f0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;   
}
nav#menu li {    
	border-right: 1px solid #fff;
}
nav#menu li.first {  
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}  
nav#menu li.last {  
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;   
	border-right: none;
} 
nav#menu li.selected {   
	background: #f60;    
}
nav#menu li:hover:not(.selected) {   
	background: #ff3;
}    
nav#menu li a {  
	color: #fff;  
	text-decoration: none;
}
nav#menu li.selected a {
	font-weight: normal; 
}

/*** SEARCH BOX ***/
#search_box #query {
	border: solid 1px;   
	padding: 4px 12px;  
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;  
	background: #fff url(/images/icons/search.png) right -3px no-repeat;
}     
#search_box input[type=submit] {
	display: none;
}

/*** LOCALE BOX ***/     
#locale_box ul#locales li { 
	margin: 2px 5px 0 0; 
	padding: 3px 6px; 	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;    
}
#locale_box ul#locales li a {
	color: #111;
	text-decoration: none;
}           
#locale_box ul#locales li.current {
	background: #111; 
	color: #fff;       
}            
#locale_box ul#locales li:hover:not(.current) {
	background: #111;  
}
#locale_box ul#locales li:hover:not(.current) a {  
	color: #fff;     
}  
/*** THEME SWITCHER ***/
#theme_switcher {
	background: #111 url(/images/icons/star_moon_night.png) 1px 0 no-repeat;    
	padding: 6px 6px 3px 28px; 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#theme_switcher li a {
	color: #fff;
	text-decoration: none;
}