<% if ::Refinery.i18n_enabled? %>         
  <% locales = ::Refinery::I18n.frontend_locales.clone %>
  <% current_locale = ::I18n.locale %>
  <% current_locale_title = locales.delete(current_locale) %>
  <ul id='locales'>
    <li class="locale link current">
      <%=raw image_tag("refinery/icons/flags/#{locale}.png")+locale.to_s %>
    </li>
    <% locales.sort_by{|key, value| value}.each do |locale, locale_title| %>
      <li class="locale link">
        <%=raw link_to image_tag("refinery/icons/flags/#{locale}.png")+locale.to_s,
                    url_for(request.parameters.merge({:locale => locale})) %>
      </li>
    <% end %>
  </ul>                                                       
<% end %>                                                                